@page "/pacientes"
@using DTOs
@using API.Clients
@using Blazor.Components
@inject IJSRuntime JSRuntime
@attribute [StreamRendering]

<PageTitle>Pacientes</PageTitle>

<h1>Pacientes</h1>

<p>Listado de pacientes.</p>


@if (pacientes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Tipo</th>
                <th>Fecha Nac.</th>
            </tr>
        </thead>
        <tbody>
    @if (pacientes != null && pacientes.Any())
    {
            @foreach (var p in pacientes)
            {
                <tr>
                    <td>@p.Nombre, @p.Apellido</td>
                    <td>@p.Dni</td>
                    <td>@p.Telefono</td>
                    <td>@p.Email</td>
                    <td>@p.Tipo</td>
                    <td>@p.FechaNacimiento</td>
                </tr>
            }
    }
        </tbody>
    </table>
}

<button class="btn btn-primary" @onclick="OpenAddModal">
    <i class="fas fa-plus"></i> Agregar
</button>
<div class="mb-2"><strong>showModal:</strong> @showModal.ToString()</div>
    <PacienteModal @ref="pacienteModal" OnPacienteChanged="LoadPacientes" />

@code {
    private List<PacienteDTO> pacientes;
    private PacienteModal pacienteModal;
    private bool showModal = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadPacientes();
    }

    private async Task LoadPacientes()
    {
        pacientes = (await PacienteApiClient.GetAllAsync())?.ToList();
        StateHasChanged();
    }

    private async Task OpenAddModal()
    {
        Console.WriteLine("OpenAddModal ejecutado - antes");
        Console.WriteLine($"pacienteModal es null: {pacienteModal == null}");

        if (pacienteModal != null)
        {
            await pacienteModal.ShowAddModal();
            Console.WriteLine("OpenAddModal ejecutado - después");
        }
    }
}